/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;

}

.container 
{
    margin: 0 auto;
    max-width: 960px;
    width: 100%;

    padding-left: 15%;
    padding-right: 15%;
    grid-area: header;
    display: flex;
    flex-direction: row;
}


header h1
{
    text-align: left;
}
/*remove bullits*/
nav ul {
    list-style-type: none;
  }

/*allign tabs to the right*/
header li
{
    padding: 5px 5px 5px 5px 5px ;
    display: inline-block;
    margin: 0;
    padding-top:0em ;
    text-align: right;
}
/*adjust p right of 'healthiest' img*/
section
{
    position: relative;
}
 
.overview-hero-text p
{
    float: right;
    position: absolute;
    padding-left: 50px;
    
}
.overview-hero-text h2
{
    text-align: right;
    padding-left: 50px;
}
/*layout learn about columns */

/*.learn-about.container.cards
 {
     display: grid;
     grid-template-columns: 300px 300px 300px ;
     grid-template-rows: max-content;
     

 }*/

.cards
 {
     display: grid;
     grid-template-columns: repeat(3,1fr) ;
     grid-gap: 10px;
     right: 20px;

     
 }

.card
 {
    box-shadow: 2px 1px 2px 1px;
    /*display: inline;
    align-items: center;
    justify-content: center;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*border-style: outset;*/
}
.card>img
{
    max-width: 50%;
    height: 50%;
}
    
 
.card-body
 {
     padding: 0px 15px 15px;
 }

 /*alligning covid 19  div's contents */

 .cta {
    float: right;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    text-align: center;
   }

   .btn {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;  
  }
/*supposed to reallign the article lines vertically*/
  .stories.container
  {
    display: grid;
    grid-template-rows: repeat(2,1fr) ;
    grid-template-columns: 1;
    grid-gap: 10px;
  
  }
  /*circular pic borders*/
  .stories.container>img
  {
    border-radius:50%;
    height:30%
  }